body,
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    // height:100%;
    @include gradient-three(darken($pr-br-2, 30%),darken($pr-br-2, 15%),darken($pr-br-2, 30%));
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: $pr-br-1;
}

a,
h1,
h2,
h3,
h4,
h4,
p,
span,
ul,
ol,
li {
    font-family: $font;
    @include font(1);
    color: $pr-br-1;
}

img {
    width: 100%;
    position: relative;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default {
    background-color: transparent;
    border: none;
    .navbar-nav > li > a {
        color: $pr-br-2;
        @include font(1.5);
    }
}

.container {
    width: 100%;
    @include padding(0);
    @include margin(0);
    position: relative;
    overflow: hidden;
}

#logo {
    display: none;
}

// .btn_default {
//     position: relative;
//     @include font(1.5);
//     @include padding($sm-sp-unit*2);
//     background-color: $highlightcolor;
//     display: inline-block;
//     color: $pr-br-2;
//     font-weight: $heavy;
// }


.close-me {
    z-index: -100000;
    @include font(2);
    text-align:center;
    width:30px;
    position: fixed;
    top:10%;
    right:10%;
    opacity: 0;
    @include transition(all 0.5s ease);
    color:$pr-br-1;
    &.show {
        z-index: 10000;
        opacity: 1;
    }
}



hr {
    width:80vw;
    left:10vw;
    right:10vw;
    height:3px;
    @include gradient-three(rgba(223,223,223,0),rgba(223,223,223,1),rgba(223,223,223,0));
    border:none;
    position: fixed;
    z-index: 100;
    &.top {
        top:-1.25em;
    }
    &.bottom {
        bottom:-1.25em;
    }
}
.header {
    position: relative;
    max-width: $maxwidth;
    background-color: transparent;
    min-height: 0;
    @include transition(all 0.4s linear);
    @media screen and (min-width: 600px) {
        width: 100%;
        display: block;
        @include padding(0);
    }
    @media screen and (min-width:850px) {
        width: 100%;
    }
}

.logo {
    position: absolute;
    overflow: hidden;
    left: $sm-sp-unit*2;
    top: $sm-sp-unit*2;
    z-index: 2;
    width: 25%;
    max-width: 50px;
}

.nav-call {
    display: none;
}

.responsive-menu {
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    @include padding($md-sp-unit*3 $md-sp-unit);
    z-index: 10;
    transition: all 0.3s linear;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        opacity: 0.95;
        z-index: 0;
        background: transparent;
    }
    &.expand {
        position: fixed;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        &:before {
            background: $pr-br-2;
        }
        transition: all 0.4s linear;
    }
    ul {
        overflow: hidden;
        @include padding($sm-sp-unit 0);
        ul {
            @include padding(0 0 0 $md-sp-unit);
        }
    }
    li {
        position: relative;
        @include padding(0.1em);
    }
    a,
    .user-name {
        font-weight: $reg;
        letter-spacing: 0.15em;
        @include font(1.2);
        display: block;
        overflow: hidden;
        color: $pr-br-1;
        @include padding($sm-sp-unit);
        position: relative;
        z-index: 1;
        text-transform: uppercase;
    }
    // .current-link {
    //     color:$success;
    //     text-decoration: underline;
    // }
    .dashboard {
        @include padding($md-sp-unit);
        .user-name {
            font-weight: $bold;
            @include font(1.5);
            text-transform: capitalize;
        }
        a {
            display: inline-block;
        }
    }
    .dropdown-menu {
        max-height: 0;
        background-color: transparent;
        @include transition(all 0.4s linear);
    }
    .dropdown:hover,
    .dropdown.drop {
        .dropdown-menu {
            max-height: 20em;
            z-index: 5;
            @include transition(all 0.4s linear);
        }
    }
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    width: 100vw;
    ;
    height: 5vh;
    overflow: visible;
    // background: $shadowcolor;
    @include padding(1.5em 0.75em);
    font-family: $font;
    text-align: center;
    letter-spacing: 0.3em;
    .fa.fa-bars {
        color: $pr-br-1;
        @include font(1.3);
        line-height: 1.2em;
    }
}

// @media screen and (min-width:$scrn-3) {
//     $img:40%;
//     .loader {
//         img {
//             position: absolute;
//             width: 20%;
//             top: $img;
//             left: $img;
//             right: $img;
//             bottom: $img;
//             opacity: 0;
//             @include transition(all 0.2s 0.3s linear);
//         }
//     }
// }


@media screen and (min-width:$scrn-3) and (max-width:$scrn-7) and (orientation:landscape) {

}
@media screen and (min-width:$scrn-6) {
    .header {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: transparent;
        @include transition(all 0.4s linear);
    }
    footer {
        .navigation {
            .menu-item {
                width: 18%;
            }
        }
    }
    .logo {
        max-width: 60px;
    }
    .hamburger {
        display: none;
    }
    .responsive-menu {
        position: absolute;
        left: 0;
        top: 15vh;
        width:20vw;
        overflow: visible;
        @include margin(0 auto);
        @include padding(0);
        text-align: center;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        &.expand:before {
            background: transparent;
        }
        ul,
        li {
            @include padding(0);
            ul {
                @include padding(0);
            }
        }
        a {
            color: $pr-br-1;
            text-align: center;
            @include font(0.7);
            border-bottom: 2px solid $pr-br-1;
            @include margin(0 15%);
            // @include margin(0);
            @include transition(all 0.4s ease);
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                opacity: 0;
                z-index: -1;
                background-color: $pr-br-1;
                // mix-blend-mode:exclusion;
                @include transition(all 0.4s ease);

            }
            &:hover {
                &:before {
                    opacity: .5;
     
                }
            }
        }
        li,
        li.dropdown {
            // display: inline-block;
            // width: 20vw;
            @include padding($sm-sp-unit);
            @include margin(1em 0 0);
            vertical-align: top;
            @include transition(all 0.3s linear);
            background-color: transparent;

        }
        &:before {
            background: transparent;
        }
    }
    .responsive-menu .dashboard {
        @include margin($lg-sp-unit 0 0);
        a {
            // width: 20%;

            display: block;
            text-align: center;
            @include font(0.7);
            border:none;
            margin: 0;
            width: 100%;
            padding: 1em 0;
        }
    }
    .dropdown:hover,
    .dropdown.drop {
        z-index: 50;
        a {
            color: $pr-br-1;
        }
        background-color:$pr-br-2;
        @include transition(all 0.2s linear);
        .dropdown-menu {
            max-height: 20em;
            background-color: $pr-br-2;
            @include transition(all 0.3s 0.4s linear);
        }
        .fix-header & {
            background-color: $se-br-1;
            a {
                color: $pr-br-2;
            }
            .dropdown-menu {
                background-color: $se-br-1;
            }
        }
    }
}

@media screen and (min-width:$scrn-7) {

    .responsive-menu {
        width:15vw;
        li,
        li.dropdown {
            // width: 15%;
        }
    }
    .responsive-menu .dashboard {
        a {
            // width: 10%;
        }
    }
}


@media screen and (min-width:$scrn-9) {
    .container {
        width:100%;
        max-width: 1300px;
        @include margin(0 auto);
        z-index: 1;
        position: relative;
        overflow: hidden;
    }
    .responsive-menu {
        width:12%;
        a {
            @include margin(0 12%);

        }
        li,
        li.dropdown {
            // width: 12%;

        }

        .dashboard a {
            // width:12%;
        }
    }

}
