
$global:0.625;

$font: 'neuzeit-grotesk', sans-serif;
$display: 'neuzeit-grotesk-condensed', sans-serif;


// $font:"lft-etica", sans-serif;
// $display:"etica-display", sans-serif;

$heavy:900;
$bold:700;
$reg:400;
// $book:300;
$light:200;

$scrn-1:320px; 	/* iPhone first gen */
$scrn-2:480px; 	/* Samsung Nexus S */
$scrn-3:540px;	/* Droid Razr */
$scrn-4:640px;	/* iPhone 4 and 5 */
$scrn-5:720px;	/* Galaxy Nexus */
$scrn-6:750px;	/* iPhone 6 / Google Nexus */
$scrn-7:875px;	/* Galaxy Note */
$scrn-8:1023px;	/* Iphone 6+ */
$scrn-9:1200px;	/* Desktop */
$scrn-10:1400px;	/* Desktop */

$maxwidth:1180px;


$sm-sp-unit:0.5em;
$md-sp-unit:1.5em;
$lg-sp-unit:3em;






/* ========================= Colors ============================ */


$pr-br-1: rgba(217,100,89,1);
$pr-br-2: rgba(218,237,226,1);

$se-br-1: rgba(0,137,136,1);
$se-br-2: rgba(242,174,114,1);

$se-br-3:rgba(248,248,221,1);
$se-br-4:rgba(51,55,69,1);

$highlightcolor: rgba(21,241,163,1);
// $highlightcolor2: rgba(51,55,69,1);

$error:#FF462D;
// $errorcolor2:#CC3824;

$shadowcolor: rgba(51,55,69,.7);


@mixin gradient($col1, $col2) {
	background:$col1; /* Old browsers */
	background: -moz-linear-gradient(right, $col1 0%, $col2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, $col1 0%,$col2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $col1 0%,$col2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin gradient-three($col1, $col2, $col3) {
	background:$col1; /* Old browsers */
	background: -moz-linear-gradient(right, $col1 0%, $col2 50%, $col3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, $col1 0%,$col2 50%, $col3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, $col1 0%,$col2 50%, $col3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/* ========================== Font ============================= */
@mixin font($em){
		font-size: ($em*$global) + px;
		font-size: ($em) + em;
}