<section class="recent-posts category_<%= @category.slug %>">
    <h2 class="section-title"><%= @category.the_title %> / Posts</h2>
	<div class="main-content">

                <% @posts.each_with_index do |post, index| %>
                    <%= render partial: 'partials/post_list_item', locals: {post: post.decorate} %>
                <% end %>
            <%= content_tag("div", raw(ct('no_contents_found', default: 'No contents found')), class: "alert alert-warning") if @posts.empty? %>
	</div>
</section>

