<div class="container-fluid">


    <div class="main-bg pages" style="background-image: url(<%= raw @post.the_thumb_url() if @post.has_thumb?%>)">

        <div class="blog-content">
            <h1><%= @post.the_title %></h1>
            <%= raw @post.the_content %>
        </div>
    </div>
    
    <%= render partial: 'partials/comments', locals: {post: @post} if @post.can_commented? %>


</div>