


<% (current_site.the_post_type("front-page").the_posts.decorate rescue {}).take(1).each_with_index do |post, index| %>
    <header class="main-bg" style="background-image: url(<%= raw post.the_thumb_url() if post.has_thumb?%>)" id="main">
	    <div class="main-content">
	        <%= raw post.the_content %>
	    </div>
    </header>
<% end %>




