<footer>
    <div class="footer-nav">
            <%= raw get_nav_menu('main_menu') %> 
            </div>

<!--     <div class="row">
        <div class="col-lg-12">

            <ul class="list-inline">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="../help/#support">Support</a></li>
            </ul>

        </div>
    </div> -->

    <span class="copyright">&#169; Betta Design 2017</span>

</footer>
  <script src="https://use.typekit.net/akz3yrt.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>